JDemoWeb/src/main/resources/static/note.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://w3schools.com"
elementFormDefault="qualified" xmlns:Q1="https://www.w3schools.com">

	<xs:element name="note">

		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="to" type="xs:string"></xs:element>
				<xs:element ref="Q1:note" minOccurs="0" maxOccurs="1"></xs:element>
				<xs:element name="heading" type="xs:string"></xs:element>
				<xs:element name="body" type="xs:string"></xs:element>
			</xs:sequence>

		</xs:complexType>

	</xs:element>
	<xs:element name="from" type="xs:string"></xs:element>
</xs:schema>